{% extends "base.html" %}

{% block title %}{{ project['name'] }}{% endblock %}

{% block content %}
<div class="container">
	<h1 class="display-2">{{ project['name'] }}</h1>

	{% include '/includes/flashed_messages.html' %}

	<blockquote class="blockquote">
		<p>{{ project["short_description"] }}</p>
	</blockquote>
	<div>
		{{ full_description | safe }}
	</div>

	<h3>Stack</h3>
	{% if project['tags'] is defined and project['tags'] is not none and project['tags']|length > 0 %}
		<ul>
			{% for s in project['tags'] %}
				<li>{{ s }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<i>None yet!</i>
	{% endif %}

	<hr/>

	<h3>Members</h3>
	{% if project['enrollments'] is defined and project['enrollments']|length > 0 %}
		{% for user in project['enrollments'] %}
			<li><a href="{{ url_for('members.member_detail', user_id=user['user_id']) }}">{{ user['user']['display_name'] }}</a> {{ "(Project Lead)" if user['is_project_lead'] else "" }}</li>
		{% endfor %}
	{% else %}
		<i>None yet!</i>
	{% endif %}

	{% if session.get("is_coordinator_or_above") %}
	<hr>
	<a href="https://cloud.hasura.io/project/7ddf071f-39c2-4891-8657-97e550b6c473/console/data/default/schema/public/tables/projects/browse" class="btn btn-light" target="_blank">Edit on Hasura</a>
	{% endif %}
</div>
{% endblock %}
