{% extends "base.html" %}

{% block title %}{{ project['name'] }}{% endblock %}

{% block content %}
<div class="container">
	<h1 class="display-2">{{ project['name'] }}</h1>
	<blockquote class="blockquote">
		<p>{{ project["short_description"] }}</p>
	</blockquote>
	<p>{{ project['description_markdown'] }}</p>

	<h3>Stack</h3>
	{% if project['tags'] is defined and project['tags'] is not none and project['tags']|length > 0 %}
		<ul>
			{% for s in project['tags'] %}
				<li>{{ s }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<i>None yet!</i>
	{% endif %}

	<hr/>

	<h3>Members</h3>
	{% if project['enrollments'] is defined and project['enrollments']|length > 0 %}
		{% for user in project['enrollments'] %}
			<li>{{ user['user']['first_name'] }} {{ user['user']['last_name'] }} {{ "(Project Lead)" if user['is_project_lead'] else "" }}</li>
		{% endfor %}
	{% else %}
		<i>None yet!</i>
	{% endif %}
</div>
{% endblock %}
