{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% macro project_card(project) -%}
<div class="card my-3">
  <!-- <img src="" alt="Project " class="card-img-top"> -->
  <div class="card-body">
    <h5 class="card-title fs-2 fw-bold"><a href="{{ url_for('projects.project_detail', project_id=project['id']) }}" class="text-decoration-none">{{ project["name"] }}</a></h5>
    <p class="card-text">{{ project["short_description"] }}</p>
    <div>
      {% if project["enrollments_aggregate"] %}
      <span class="badge bg-primary">{{ project["enrollments_aggregate"]["aggregate"]["count"] }} members</span>
      {% endif %}

      {% for repo_url in project["github_repos"] or [] %}
      <a class="text-decoration-none badge bg-dark" href="{{ repo_url }}" target="_blank">
        <i class="bi-github"></i>
        {{ repo_url|replace("https://github.com/", "") }}</a>
      {% endfor%}

      {% if project["tags"] %}
        {% for tag in project["tags"] %}
        <a class="text-decoration-none badge bg-info" href="?search={{ tag }}" >{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- <div class="card-footer text-muted d-flex">
    {% if project["created_at"] %}
    <div>Created {{ project["created_at"]|format_datetime("date") }}</div>
    {% endif %}
  </div> -->
</div>
{%- endmacro %}

{% block content %}
<div class="container">
  <h1 class="text-capitalize">
    
    {% if semester %}
    {{ semester["name"] }} Projects
    {% else %}
    Projects Across All Semesters
    {% endif %}
    
    <span class="badge bg-secondary">{{ projects | length }}</span>
  </h1>

  {% include '/includes/flashed_messages.html' %}

  <form class="my-3">
    <div class="row">
      <div class="col-auto">
        {% include "/includes/semester_select.html" %}
      </div>
      <div class="col">
        <input
          type="search"
          id="search"
          name="search"
          class="form-control"
          value="{{ search if search }}"
          placeholder="By name, project lead, tech stack"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark">Search</button>
      </div>
    </div>
  </form>

  <div class="row">
    {% for project in projects %}
    <div class="col-xs-12 col-md-6 col-lg-4">
      {{ project_card(project) }}
    </div>
    {% endfor %}
  </div>

  <nav class="my-3">
    {% if g.is_logged_in and g.user["role"] == "rpi" %}
    <a href="{{ url_for('projects.add_project') }}" class="btn btn-success"
      ><i class="bi bi-plus-lg"></i>
      Propose New Project</a
    >
    {% endif %}
  </nav>
</div>
{% endblock %}
