{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
	<a href="{{ url_for('projects.current_projects') }}">Current Projects</a>
	<a href="{{ url_for('projects.past_projects') }}">Past Projects</a>
	<a href="{{ url_for('projects.add_project') }}">Add Project</a>

	{% for project in projects %}
	<tr>
		<td>
			<h3>{{ project['name'] }}</h3>
			<a href="{{ '/project/%s' % project['id'] }}">Go to...</a>
		</td>
	</tr>
	{% endfor %}
</div>
{% endblock %}
