{% extends "/base.html" %}

{% block content %}
<div class="container">
    <h1>Attendance</h1>

    <button class="btn btn-danger">Close</button>

    <h1><center>{{ code }}</center></h1>

    <hr/>

    <div class="form-group">
      <label for="project_name">RCS ID</label>
      <input
        type="text"
        class="form-control"
        id="unverified_user"
        name="unverified_user"
        required
      />
    </div>
    <br/>
    <button onclick="onVerify()" class="btn btn-primary">Verify</button>
</div>
<script src="/static/js/attendance.js"></script>
{% endblock %}