<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">RCOS I/O</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="#">Projects</a>
        <a class="nav-link" href="#">Members</a>
        <a class="nav-link" href="#">Meetings</a>
        <a class="nav-link" href="https://handbook.rcos.io" target="_blank"
          >Handbook</a
        >
      </div>
      <div class="navbar-nav">
        {% if g.is_logged_in %}
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Logged in as <strong>{{ g.user['id'] }}</strong>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}"
                >Logout</a
              >
            </li>
          </ul>
        </div>
        {% else %}
        <a class="nav-link" href="{{ url_for('auth.login', role='student') }}"
          >RPI Login</a
        >
        <a class="nav-link" href="{{ url_for('auth.login', role='external') }}"
          >Guest Login</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</nav>
