{% extends "/base.html" %}

{% block head %}
<!-- Fullcalendar CSS -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css"
/>

<!-- Fullcalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<h1>Meetings</h1>
	{% include '/_includes/flashed_messages.html' %}

	<div id='calendar'></div>

	<script>
	// Initialize Fullcalendar
		document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: 'dayGridMonth',
			events: '/meetings/api/events'
		});
		calendar.render();
	});
	</script>

	<nav class="my-3 d-flex">
		{% if session.get("is_coordinator_or_above") %}
		<a href="{{ url_for('meetings.add') }}" class="btn btn-success">
			<i class="bi bi-plus-lg"></i>
			Add Meeting
		</a>
		<div class="btn-group ms-auto">
		  <a class="btn btn-light" href="{{ config['HASURA_CONSOLE_URL'] }}/data/default/schema/public/tables/meetings/browse" target="_blank">Edit in Hasura Console
			<i class="bi bi-box-arrow-up-right ms-2"></i>
		  </a>
		</div>
		{% endif %}
	  </nav>
</div>
{% endblock %}