{% extends "/base.html" %}

{% block head %}
<!-- Fullcalendar CSS -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css"
/>

<!-- Fullcalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<h1>Meetings</h1>
	{% include '/includes/flashed_messages.html' %}

	{% if session["is_coordinator_or_above"] %}
	<a href="{{ url_for('meetings.add_meeting') }}" class="btn btn-success">
		<i class="bi bi-plus-lg"></i>
		Add Meeting</a>
	{% endif %}

	<div id='calendar'></div>

	<script>
	// Initialize Fullcalendar
		document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: 'dayGridMonth',
			events: '/meetings/api/events'
		});
		calendar.render();
	});
	</script>
</div>
{% endblock %}