{% extends "base.html" %} {% block content %}
<div class="container">
  {# Choose the proper heading to display based on the role #} {% if role ==
  "rpi" %}
  <h1>Login as RPI Student/Faculty</h1>
  {% elif role == "external" %}
  <h1>Login as Guest</h1>
  {% else %}
  <h1>Login via Email</h1>
  {% endif %}
  <h3>You'll be sent a one-time password to complete your login</h3>

  {% include '/includes/flashed_messages.html' %}

  <form class="mt-4" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">
        {% if role == 'rpi' %}Your RPI Email Address{% else %}Your Email
        Address{% endif %}
      </label>

      {# Set the proper attributes based on role #} <input class="form-control"
      type="email" name="email" id="email" placeholder="{% if role == 'rpi'
      %}user@rpi.edu{% else %}user@example.com{% endif %}" {% if role=='rpi'
      %}pattern="^[A-Za-z0-9._%+-]+@rpi\.edu$" {% endif %} title="{% if role ==
      'rpi' %}Use your @rpi.edu email address!{% endif %}" required />
    </div>
  </form>
</div>
{% endblock %}
