{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="mb-3">
    Check
    <span class="px-2 bg-primary text-light rounded">{{ user_email }}</span> for
    your one-time password
  </h1>

  {% include '/includes/flashed_messages.html' %}

  <!-- OTP for testing: {{ otp }} -->

  <form action="{{ url_for('auth.otp') }}" method="POST">
    <input
      class="form-control"
      type="text"
      name="otp"
      id="otp"
      placeholder="OTP"
      required
    />
  </form>
</div>
{% endblock %}
