{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>Your Profile</h1>

  {% include '/includes/flashed_messages.html' %}

  <form method="POST">
    <div class="mb-3">
      <label for="first_name" class="form-label">First Name</label>
      <input
        type="text"
        name="first_name"
        id="first_name"
        placeholder="{{ g.user['first_name'] if g.user['first_name'] }}"
        value="{{ g.user['first_name'] if g.user['first_name'] }}"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="last_name" class="form-label">Last Name</label>
      <input
        type="text"
        name="last_name"
        id="last_name"
        placeholder="{{ g.user['last_name'] if g.user['last_name'] }}"
        value="{{ g.user['last_name'] if g.user['last_name'] }}"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="{{ g.user['email'] }}"
        value="{{ g.user['email'] if g.user['email'] }}"
        class="form-control"
        disabled
      />
    </div>

    <div class="mb-3">
      <label for="secondary_email" class="form-label">Secondary Email</label>
      <input
        type="text"
        name="secondary_email"
        id="secondary_email"
        placeholder="{{ g.user['secondary_email'] }} or 'Backup email to login with'"
        value="{{ g.user['secondary_email'] if g.user['secondary_email'] }}"
        class="form-control"
      />
    </div>

    {% if g.user["role"] == "rpi" %}
    <div class="mb-3">
      <label for="graduation_year" class="form-label">Graduation Year</label>
      <input
        type="number"
        name="graduation_year"
        id="graduation_year"
        placeholder="{{ g.user['graduation_year'] if g.user['graduation_year'] else '1900' }}"
        value="{{ g.user['graduation_year'] if g.user['graduation_year'] }}"
        class="form-control"
        min="1900"
        max="2100"
        required
      />
    </div>
    {% endif %}

    <button type="submit" class="btn btn-success">Save</button>
  </form>

  <hr />

  <div class="mb-3">
    <div class="row">
      <div class="col">
        <label class="form-label">Connected Discord Account</label>
        <div class="card">
          <div class="card-body d-flex align-items-center">
            {% if discord_user %}
            <img
              src="https://cdn.discordapp.com/avatars/{{ discord_user['id'] }}/{{ discord_user['avatar'] }}.png?size=48"
              alt="Discord avatar"
              class="rounded-circle me-3"
            />
            <strong class="fs-3"
              >@{{ discord_user["username"] }}#{{ discord_user["discriminator"]
              }}</strong
            >
            {% else %}
            <a href="{{ url_for('auth.discord_auth') }}" class="btn btn-link"
              >Link Discord</a
            >
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <label class="form-label">Connected GitHub Account</label>
        <div class="card">
          <div class="card-body d-flex align-items-center">
            {% if g.user["github_username"] %}
            <strong class="fs-3"><a target="_blank" href="https://github.com/{{ g.user["github_username"] }}">@{{ g.user["github_username"] }}</a></strong>
            {% else %}
            <a href="{{ url_for('auth.github_auth') }}" class="btn btn-link"
              >Link GitHub</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
