{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>Your Profile</h1>

  {% include '/includes/flashed_messages.html' %}

  <div class="row">
    <div class="col">
      <form method="POST">
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input
            type="text"
            name="first_name"
            id="first_name"
            placeholder="{{ g.user['first_name'] if g.user['first_name'] }}"
            value="{{ g.user['first_name'] if g.user['first_name'] }}"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input
            type="text"
            name="last_name"
            id="last_name"
            placeholder="{{ g.user['last_name'] if g.user['last_name'] }}"
            value="{{ g.user['last_name'] if g.user['last_name'] }}"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="{{ g.user['email'] }}"
            value="{{ g.user['email'] if g.user['email'] }}"
            class="form-control"
            disabled
          />
        </div>

        <div class="mb-3">
          <label for="secondary_email" class="form-label"
            >Secondary Email</label
          >
          <input
            type="text"
            name="secondary_email"
            id="secondary_email"
            placeholder="{{ g.user['secondary_email'] }} or 'Backup email to login with'"
            value="{{ g.user['secondary_email'] if g.user['secondary_email'] }}"
            class="form-control"
          />
        </div>

        {% if g.user["role"] == "rpi" %}
        <div class="mb-3">
          <label for="graduation_year" class="form-label"
            >Graduation Year</label
          >
          <input
            type="number"
            name="graduation_year"
            id="graduation_year"
            placeholder="{{ g.user['graduation_year'] if g.user['graduation_year'] else '1900' }}"
            value="{{ g.user['graduation_year'] if g.user['graduation_year'] }}"
            class="form-control"
            min="1900"
            max="2100"
            required
          />
        </div>
        {% endif %}

        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3 class="mb-3">Linked Accounts</h3>

      {% if g.user["rcs_id"] %}
      <div
        class="card mb-3"
        style="background-color: #d6001c; color: white; height: 95px"
      >
        <div class="card-body d-flex align-items-center">
          <strong class="flex-grow-1 fs-4">{{ g.user["rcs_id"] }}</strong>
          <img
            class="img-fluid"
            style="max-width: 170px"
            src="/static/RPIlogo.png"
            alt="RPI seal"
          />
        </div>
      </div>
      {% endif %}

      <div
        class="card mb-3"
        style="background-color: #5865f2; color: white; height: 95px"
      >
        <div class="card-body d-flex align-items-center">
          {% if discord_user %}
          <img
            src="https://cdn.discordapp.com/avatars/{{ discord_user['id'] }}/{{ discord_user['avatar'] }}.png?size=48"
            alt="Discord avatar"
            class="rounded-circle me-3"
            style="border: 2px solid white"
          />
          <div class="flex-grow-1 d-flex flex-column">
            <strong class="fs-4">{{ discord_user["username"] }}</strong>
            <span>#{{ discord_user["discriminator"] }}</span>
          </div>

          {% else %}
          <a
            href="{{ url_for('auth.discord_auth') }}"
            class="text-white flex-grow-1 fs-4"
            >Link Discord</a
          >
          {% endif %}
          <img
            class="img-fluid"
            style="max-width: 50px"
            src="/static/discord-mark-white.png"
            alt="Discord white logo mark"
          />
        </div>
      </div>
      <div
        class="card mb-3"
        style="background-color: #333; color: white; height: 95px"
      >
        <div class="card-body d-flex align-items-center">
          {% if g.user["github_username"] %}
          <img
            src="https://github.com/{{ g.user['github_username'] }}.png?size=48"
            alt="GitHub avatar"
            class="rounded-circle me-3"
            style="border: 2px solid white"
          />
          <strong class="flex-grow-1 fs-4"
            ><a
              class="text-white text-decoration-none"
              target="_blank"
              href="https://github.com/{{ g.user['github_username'] }}"
              >{{ g.user["github_username"] }}</a
            ></strong
          >
          {% else %}
          <a
            href="{{ url_for('auth.github_auth') }}"
            class="text-white flex-grow-1 fs-4"
            >Link GitHub</a
          >
          {% endif %}
          <img
            class="img-fluid"
            style="max-width: 50px"
            src="/static/GitHub-Mark-Light-64px.png"
            alt="GitHub white logo mark"
          />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
