{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="display-2">{{ user['display_name'] or "Unnamed Member" }}</h1>
  <p class="fs-3">
    {% if g.is_logged_in %}
    <a href="mailto:{{ user['email'] }}">{{ user["email"] }}</a>
    {% endif %}
    {% if user["role"] == "rpi" %}
    <span class="badge bg-primary">
      RPI
      {% if user["graduation_year"] %}Class of {{ user["graduation_year"] }}{% endif %}
    </span>
    {% else %}
    <span class="badge bg-secondary">External User</span>
    {% endif %}

    {% if not user["is_verified"] %}
    <span class="badge bg-danger">UNVERIFIED</span>
    {% endif %}
  </p>

	{% include '/includes/flashed_messages.html' %}

  {% if not user["is_verified"] %}
  <div class="alert alert-danger">
    <p>This <strong class="text-uppercase">{{ user["role"] }}</strong> user is <strong>UNVERIFIED</strong> and will not be visible on the site until you choose to verify them. Only verify them if they have confirmed their identity.
    </p>

    <form action="{{ url_for('members.verify') }}" method="post" onsubmit="return confirm('Are you sure you want to VERIFY {{ user['email'] }}?')">
      <input type="hidden" name="action" value="verify">
      <input type="hidden" name="user_id" value="{{ user['id'] }}">
      <button class="btn btn-link">Verify User</button>
    </form>
    <form action="{{ url_for('members.verify') }}" method="post" onsubmit="return confirm('Are you sure you want to DELETE {{ user['email'] }}?')">
      <input type="hidden" name="action" value="delete">
      <input type="hidden" name="user_id" value="{{ user['id'] }}">
      <button class="btn btn-link">Delete User</button>
    </form>
  </div>
  {% endif %}

  <div class="row">
    <div class="col">

      <ol class="list-group">
        {% for enrollment in user["enrollments"] %}
        <li class="list-group-item d-flex align-items-center">
          
          <div class="me-auto">
            <div class="fs-3">
              {% if enrollment["project"] %}
              <a class="fw-bold text-decoration-none" href="{{ url_for('projects.detail', project_id=enrollment['project']['id'], semester_id=enrollment['semester']['id']) }}">{{ enrollment["project"]["name"] }}</a>
              {% else %}
              <span class="text-muted">No Project</span>
              {% endif %}
            </div>
            <div>
              {% if enrollment["is_project_lead"] %}
              <span class="badge bg-info">Project Lead</span>
              {% endif %}

              {% if enrollment["is_coordinator"] %}
              <span class="badge bg-warning">Coordinator</span>
              {% endif %}

              {% if enrollment["is_faculty_advisor"] %}
              <span class="badge bg-dark">Faculty Advisor</span>
              {% endif %}
            </div>
          </div>
          <div class="fw-bold text-capitalize me-3">{{ enrollment["semester"]["name"] }}</div>
        </li>
        {% endfor %}
      </ol>

    </div>
    <div class="col-xs-12 col-md-4">
      {% if user["github_username"] %}
      <div
        class="card mb-3"
        style="background-color: #333; color: white; height: 95px"
      >
        <div class="card-body d-flex align-items-center">
          <img
            src="https://github.com/{{ user['github_username'] }}.png?size=48"
            alt="GitHub avatar"
            class="rounded-circle me-3"
            style="border: 2px solid white"
          />
          <strong class="flex-grow-1 fs-4"
            ><a
              class="text-white text-decoration-none"
              target="_blank"
              href="https://github.com/{{ user['github_username'] }}"
              >{{ user["github_username"] }}</a
            ></strong
          >
          <img
            class="img-fluid"
            style="max-width: 50px"
            src="{{ url_for('static', filename='images/logos/github.png') }}"
            alt="GitHub white logo mark"
          />
        </div>
      </div>
      {% endif %}
      {% if g.is_logged_in and discord_user %}
      <div
        class="card mb-3"
        style="background-color: #5865f2; color: white; height: 95px"
      >
        <div class="card-body d-flex align-items-center">
          
          <img
            src="https://cdn.discordapp.com/avatars/{{ discord_user['id'] }}/{{ discord_user['avatar'] }}.png?size=48"
            alt="Discord avatar"
            class="rounded-circle me-3"
            style="border: 2px solid white"
          />
          <div class="flex-grow-1 d-flex flex-column">
            <strong class="fs-4">{{ discord_user["username"] }}</strong>
            <span>#{{ discord_user["discriminator"] }}</span>
          </div>
          <img
            class="img-fluid"
            style="max-width: 50px"
            src="{{ url_for('static', filename='images/logos/discord.png') }}"
            alt="Discord white logo mark"
          />
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
