{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="text-capitalize">
    
    {% if semester %}
    {{ semester["name"] }} Members
    {% else %}
    Members Across All Semesters
    {% endif %}
    
    <span class="badge bg-secondary">{{ users | length }}</span>
  </h1>
  {% include '/includes/flashed_messages.html' %}


  <form class="my-3">
    <div class="row">
      <div class="col-auto">
        {% include "/includes/semester_select.html" %}
      </div>
      <div class="col">
        <input
          type="search"
          id="search"
          name="search"
          class="form-control"
          placeholder="By name, RCS ID, email"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark">Search</button>
      </div>
    </div>
  </form>

  <div class="row">
    {% for user in users %}
    <div class="col-xs-12 col-md-4">
      <div class="card my-3">
        <div class="card-body">
          <div class="me-auto">
            <div class="fs-2 fw-bold">
              <a href="{{ url_for('members.member_detail', user_id=user['id']) }}" class="text-decoration-none">{{ user["full_name"] }}</a>
            </div>
            <div>
              <span class="badge bg-primary">{{ user["enrollments_aggregate"]["aggregate"]["count"] }} semesters</span>
              <span class="badge bg-secondary text-uppercase">
                {{ user["role"] }}
                {% if user["graduation_year"] %}
                '{{ (user["graduation_year"]|string)[2:] }}
                {% endif %}
              </span>
              {% if g.is_logged_in and g.user["role"] == "rpi" and user["rcs_id"] %}
              <span class="badge bg-secondary"><i class="bi bi-mortarboard-fill"></i>
                {{ user["rcs_id"] }}@rpi.edu
              </span>
              {% endif %}
              {% if user["github_username"] %}
              <a class="badge bg-dark text-decoration-none" href="https://github.com/{{ user['github_username'] }}" target="_blank">
                <i class="bi-github"></i>
                {{ user["github_username"] }}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if session.get("is_coordinator_or_above") %}
  <div class="card my-2">
    <div class="card-header">
      Administrator Controls
    </div>
    <div class="card-body">
      <a href="https://cloud.hasura.io/project/7ddf071f-39c2-4891-8657-97e550b6c473/console/data/default/schema/public/tables/users/browse" class="btn btn-light" target="_blank">Edit on Hasura</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}