{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="text-capitalize">
    {% if semester %}
    {{ semester["name"] }} users
    {% else %}
    users Across All Semesters
    {% endif %}
  </h1>
  {% include '/_includes/flashed_messages.html' %}


  <form class="my-3">
    <div class="row">
      <div class="col-auto">
        {% include "/_includes/semester_select.html" %}
      </div>
      <div class="col">
        <input
          type="search"
          id="search"
          name="search"
          class="form-control"
          placeholder="By name, RCS ID, email"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark">Search</button>
      </div>
    </div>
  </form>

  <div class="text-muted">
    {{ users | length }} results
  </div>

  <div class="row">
    {% for user in users %}
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card my-3">
        <div class="card-body">
          <div class="me-auto">
            <h5 class="card-title fs-2 fw-bold">
              <a href="{{ url_for('users.detail', user_id=user['id']) }}" class="text-decoration-none">{{ user["display_name"] }}</a>
            </h5>
            <div>
              <span class="badge bg-primary">{{ user["enrollments_aggregate"]["aggregate"]["count"] }} semesters</span>
              <span class="badge bg-danger">
                <span class="text-uppercase">
                  {{ user["role"] }}
                </span>

                {% if user["graduation_year"] %}
                '{{ (user["graduation_year"]|string)[2:] }}
                {% endif %}
                {% if g.is_logged_in and g.user["role"] == "rpi" and user["rcs_id"] %}
                {{ user["rcs_id"] }}
                {% endif %}
              </span>
              {% if user["github_username"] %}
              <a class="text-dark text-decoration-none" href="https://github.com/{{ user['github_username'] }}" target="_blank">
                <i class="bi-github"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <nav class="my-3 d-flex">
    {% if session.get("is_coordinator_or_above") %}
    <div class="btn-group ms-auto">
      <a href="{{ url_for('users.verify') }}" class="btn btn-light">
        Verify Users
        {% if unverified_users|length > 0 %}
        <span class="badge bg-danger">{{ unverified_users|length }}</span>
        {% endif %}
      </a>
      <a class="btn btn-light" href="{{ config['HASURA_CONSOLE_URL'] }}/data/default/schema/public/tables/users/browse" target="_blank">Edit in Hasura Console
        <i class="bi bi-box-arrow-up-right ms-2"></i>
      </a>
    </div>
    {% endif %}
  </nav>
</div>
{% endblock %}