{% extends "base.html" %} {% block title %}{{ project['name'] }}{% endblock %}
{% block content %}
<div class="container">
  <h1>Propose New Project</h1>

  {% include '/_includes/flashed_messages.html' %}
  
  <form method="post">
    <div class="form-group mb-3">
      <label for="project_name">Project Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Submitty 2, Yet Another Course Scheduler, ..."
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="short_description">One-line Description</label>
      <input
        type="text"
        class="form-control"
        id="short_description"
        name="short_description"
        placeholder="Coolest project ever..."
        required
      >
    </div>

    <div class="form-group">
      <label for="description_markdown">Full Description</label>
      <textarea
        class="form-control"
        id="description_markdown"
        name="description_markdown"
        rows="5"
        placeholder="**Markdown** is *supported*!"
        required
      ></textarea>
    </div>

    <br />

    <div class="form-group">
      <label for="tags">Technical Stack</label>
      <input
        type="text"
        class="form-control"
        id="tags"
        name="tags"
        placeholder="Node.js, React, Haskell, etc..."
        required
      />
      <small class="form-text text-muted"
        >Separate the different technologies by a comma (Node.js,
        React.js)</small
      >
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
