{% extends "base.html" %}

{% block title %}{{ project['name'] }}{% endblock %}

{% block content %}
<div class="container">
	<h1 class="display-1">{{ project['name'] }}</h1>

	{% include '/_includes/flashed_messages.html' %}

	<div>
		<blockquote class="blockquote">
			<p>{{ project["short_description"] }}</p>
		</blockquote>
		{% for tag in project['tags'] %}
			<span class="badge bg-secondary">{{ tag }}</span>
		{% endfor %}
		<div class="my-3">
			{{ project["description_markdown"] | safe }}
		</div>
	</div>

	<div class="row row-cols-1 row-cols-md-2 g-4 my-3">
		{% for semester_id, enrollments in enrollments_by_semester_id.items() %}
		<div class="col">

			<div class="card">
				<div class="card-header d-flex">
					<span class="me-auto">{{ enrollments[0]["semester"]["name"] }}</span> <span class="text-muted">{{ enrollments|length }} members</span>
				</div>
				<ul class="list-group list-group-flush">
					{% for user in enrollments %}
						<li class="list-group-item d-flex">
							<a class="me-auto" href="{{ url_for('users.detail', user_id=user['user_id']) }}">{{ user['user']['display_name'] }}</a>
							{% if user["is_project_lead"] %}
							<span class="badge bg-warning mx-2">Project Lead</span>
							{% endif %}
							<span class="text-muted">{{ user["credits"] }} credits</span>
						</li>
					{% endfor %}
				</ul>
	
				{% if enrollments[0]["semester_id"] == session.get("semester")["id"] and is_project_lead %}
				<form class="card-body" action="{{ url_for('projects.add_member', project_id=project['id']) }}" method="post">
					<input type="hidden" name="semester_id" value="{{ enrollments[0]['semester_id'] }}">
					<div class="row g-2">
						<div class="col-xs-12 col-md-5">
							<input class="form-control" name="user_identifier" type="text" placeholder="Student email or RCS ID" required>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="input-group ">
								<input class="form-control" name="credits" type="number" placeholder="Credit count (0 for experience)" value="4" required>
								<span class="input-group-text">credits</span>
							</div>
						</div>
						<div class="col-xs-12 col-md-3">
							<button class="btn btn-success w-100">Add Student</button>
						</div>
					</div>

				</form>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	
	{% if session.get("is_coordinator_or_above") %}
    <div class="btn-group ms-auto">
      <a class="btn btn-light" href="{{ config['HASURA_CONSOLE_URL'] }}/data/default/schema/public/tables/projects/browse" target="_blank">Edit in Hasura Console
        <i class="bi bi-box-arrow-up-right ms-2"></i>
      </a>
    </div>
    {% endif %}
</div>
{% endblock %}
