<footer class="footer text-center bg-light text-dark py-5">
  <p>Created and maintained with <span id="footer-heart">❤️</span> by RCOS</p>
  <p>
    <a
      href="https://github.com/Apexal/rcos_io"
      target="_blank"
      rel="noopener noreferrer"
      >Source code</a
    >
  </p>

  <script>
    /* Silly easter egg. Clicking the heart causes it to rotate like a record and play a sample of Bill Ni's beautiful vocal stylings.  */
    const heart = document.getElementById("footer-heart");

    const audio = new Audio("/static/audio/bill_viva_cut.mp3");
    heart.onclick = () => {
      heart.classList.add("rotating");
      audio.play();
      audio.onended = () => {
        heart.classList.remove("rotating");
      };
    };
  </script>
</footer>
