{% extends "/base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-capitalize">{{ meeting["name"] or (meeting["type"] + " Meeting") }}</h1>

    {% if meeting["name"] %}
    <h5 class="text-muted text-capitalize">{{ meeting["type"] }}</h5>
    {% endif %}

	{% include '/_includes/flashed_messages.html' %}


    {% if can_open_attendance %}
    <a class="btn btn-primary" href="{{ url_for('meetings.open_attendance', meeting_id=meeting['id']) }}">Open Attendance</a>
    {% endif %}
    {% if session.get("is_mentor_or_above") %}
    <a href="{{ url_for('meetings.meeting_attendance', meeting_id=meeting['id']) }}" class="btn btn-info">View Attendance <span class="badge bg-white text-dark">{{ meeting["meeting_attendances_aggregate"]["aggregate"]["count"] }}</span></a>
    {% endif %}
</div>
{% endblock %}